<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tabela de Ninjas</title>
</head>
<body>
<h1>Lista de ninjas</h1>
<table>
    <thead>
    <tr>
        <th>Imagem</th>
        <th>Id</th>
        <th>Nome</th>
        <th>email</th>
        <th>idade</th>
        <th>rank</th>
        <th>missoes</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each ="ninja: ${ninjas}">
        <td><img th:src="${ninja.imgUrl}"></td>
        <td th:text="${id}"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.idade}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <td th:text="${ninja.missoes}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
